<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<script>
  prefix = "{{ prefix }}"
</script>
<head>
  <title>Builds</title>
  <link rel="stylesheet" href="{{request.static_url('toaster_aggregator:static/normalize.css')}}">
  <link rel="stylesheet" href="{{request.static_url('toaster_aggregator:static/skeleton.css')}}">
  <link rel="stylesheet" href="{{request.static_url('toaster_aggregator:static/jquery.dataTables.min.css')}}">
  <script type='text/javascript' src="{{request.static_url('toaster_aggregator:static/jquery-compat-git.js')}}"></script>
  <script type='text/javascript' src="{{request.static_url('toaster_aggregator:static/jquery.dataTables.min.js')}}"></script>
  <script type='text/javascript' src="{{request.static_url('toaster_aggregator:static/running_build_reload.js')}}"></script>
</head>
<body>
  <div class="container">
    <h2>Builds</h2>

    <table id="running_build_table" class="u-full-width display">
      <thead>
      <tr>
        <th>Name</th><th>Progress</th><th>Link</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </p>
  </div>
</body>
</html>
